# codes.t3.app
[Desktop Entry]
Name=T3 Code
Exec=zypak-run.sh
Icon=codes.t3.app
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=cursor
